<div class="container container-form">
  <%= simple_form_for [ @user, @dress ] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true} %>
    <%= f.input :brand %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.submit "Add a dress", class: "btn btn-primary" %>
  <% end %>
  </div>
