<div class="container container-index">
  <% if user_signed_in? %>
    <%= link_to "Add a dress", new_dress_path, class: "btn btn-main" %>
  <% end %>
  <p>
   <a class="btn btn-flat" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-globe-americas"></i> See map
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <h2>
      There are <%= pluralize @dresses.size, "dress" %> nearby:
    </h2>
  <div class="dresses">
    <% @dresses.each do |dress| %>
      <%= link_to dress_path(dress) do %>
        <div class="card-dress card">
          <% if dress.photos.attached? %>
              <%= cl_image_tag dress.photos.first.key, height: 800, width: 800, crop: :fill, gravity: :face, class: "dress" %>
            <% else %>
              <%= cl_image_tag "hq60xp9nvdv5nkn2tehp", height: 800, width: 800, crop: :pad, class: "dress"  %>
          <% end %>
          <div class="card-dress-infos">
            <div>
              <h2><%= dress.title %></h2>
              <p><%= dress.description.truncate(40) %></p>
              <h2 class="card-dress-pricing"><%= dress.price %>£</h2>
            </div>
            <!-- next line breaks the code -->
            <!-- <%= link_to "Book", new_dress_booking_path(dress), class: "btn btn-main" %> -->
            <h2 class="btn btn-flat">Book</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
